.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-socials {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
}


