.section {
    padding: 94px 0;
}


.team {
    background-color: var(--back-photos-color);
    padding: 94px 0;

    &__section {
            display: flex;
            margin-top: 0;
            margin-bottom: 0;
        }
}