.icon {
    @include centeredFlex(flex);
    @extend %list;
    margin-top: 16px;
    gap: 10px;
}

.icon__list {
    list-style: none;
}

.icon__link {
    @include centeredFlex(flex);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms $transition-values;

    &:hover,
    &:focus {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: $primary-accent-color;
    }
}

.icon__item {
    margin: auto;
    fill: $primary-icon-color;
    transition: fill 250ms $transition-values;

    .icon__link:hover &,
    .icon__link:focus & {
        fill: $primary-white-color;
    }
}